@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes nightRider {
  0%,
  100% {
    left: -2%;
    transform: translateX(0%);
  }
  50% {
    left: 102%;
    transform: translateX(-100%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0%);
  }
}

[data-loader] {
  position: fixed;
  z-index: 1000;
  inset: 0;
  transition: opacity 500ms 250ms ease-in-out;
  will-change: opacity;

  :not(.dark &):not(.light &) {
    opacity: 1;
  }

  opacity: 0;
  pointer-events: none;
}

[data-loader-progress] {
  transform: scaleX(0);
  transform-origin: left;
  animation: load 2000ms linear forwards;
}

@keyframes load {
  0% {
    transform: scaleX(0);
  }
  30% {
    transform: scaleX(0.3);
  }
  50% {
    transform: scaleX(0.3);
  }
  70% {
    transform: scaleX(0.7);
  }
  75% {
    transform: scaleX(0.7);
  }
  100% {
    transform: scaleX(1);
  }
}

[data-desktop] {
  .dark & {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.33),
      0px 9px 29px 10px rgba(10, 10, 10, 0.09);
  }
  .light & {
    box-shadow: 0px 9px 29px 10px rgba(10, 10, 10, 0.09);
  }
}

.dark [data-hide-on-theme="dark"],
.light [data-hide-on-theme="light"] {
  display: none;
}

.dark [data-theme-toggle="dark"] {
  @apply bg-white/10;
}

.light [data-theme-toggle="light"] {
  @apply bg-black/10;
}

/* [data-desktop] {
  will-change: opacity;
  animation: fadeIn 500ms ease-in;
}

[data-theme-controls] {
  opacity: 0;
  will-change: opacity;
  animation: fadeIn 500ms 500ms ease-in forwards;
}

[data-theme-switcher] {
  opacity: 0;
  will-change: transform;
  animation: fadeIn 500ms 1000ms ease-in-out forwards,
    slideUp 500ms 1000ms ease-in-out forwards;
}

[data-desktop] [data-raycast] {
  opacity: 0;
  will-change: opacity;
  animation: fadeIn 500ms ease-in forwards;
}

[data-wallpaper] {
  opacity: 0;
  will-change: opacity;
  animation: fadeIn 1000ms 400ms ease-in forwards;
} */

.light [data-wallpaper="dark"] {
  opacity: 0 !important;
}
.dark [data-wallpaper="light"] {
  opacity: 0 !important;
}
