@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes nightRider {
  0%,
  100% {
    left: -2%;
    transform: translateX(0%);
  }
  50% {
    left: 102%;
    transform: translateX(-100%);
  }
}

@keyframes flicker {
  0%,
  24% {
    opacity: 1;
  }
  25%,
  29% {
    opacity: 0.5;
  }
  30%,
  69% {
    opacity: 1;
  }
  70%,
  74% {
    opacity: 0.7;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes load {
  0% {
    transform: scaleX(0);
  }
  30% {
    transform: scaleX(0.3);
  }
  50% {
    transform: scaleX(0.3);
  }
  70% {
    transform: scaleX(0.7);
  }
  75% {
    transform: scaleX(0.7);
  }
  100% {
    transform: scaleX(1);
  }
}

body {
  .dark & {
    background-image: radial-gradient(
      43.48% 62.9% at 50% 31.28%,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .light & {
    background-image: radial-gradient(
      43.48% 62.9% at 50% 31.28%,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}

[data-loader] {
  position: fixed;
  z-index: 1000;
  inset: 0;
  height: 100dvh;
  width: 100vw;
  transition: opacity 500ms 250ms ease-in-out;
  will-change: opacity;

  :not(.dark &):not(.light &) {
    opacity: 1;
  }

  opacity: 0;
  pointer-events: none;
}

[data-loader-progress] {
  transform: scaleX(0);
  transform-origin: left;
  animation: load 2000ms linear forwards;
}

[data-loader] svg {
  animation: flicker 2000ms linear;
}

.dark [data-hide-on-theme="dark"],
.light [data-hide-on-theme="light"] {
  display: none;
}

.dark [data-theme-toggle="dark"] {
  @apply bg-white/10;
}

.light [data-theme-toggle="light"] {
  @apply bg-black/10;
}

[data-wallpaper] {
  transition: opacity 200ms ease-in-out;
}

.light [data-wallpaper="dark"] {
  opacity: 0 !important;
}
.dark [data-wallpaper="light"] {
  opacity: 0 !important;
}

[data-raycast] {
  transition: all 200ms ease-in-out;
}
