@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

@keyframes nightRider {
  0%,
  100% {
    left: -2%;
    transform: translateX(0%);
  }
  50% {
    left: 102%;
    transform: translateX(-100%);
  }
}

.dark [data-hide-on-theme="dark"],
.light [data-hide-on-theme="light"] {
  display: none;
}

.dark [data-theme-toggle="dark"] {
  @apply bg-white/10;
}

.light [data-theme-toggle="light"] {
  @apply bg-black/10;
}
